*{
    font-family: 'Galindo', cursive;
    color: white;
}

div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4522A9;
    width: 650px;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    border-radius: 84px;
    margin: auto;
}
h1{
    font-size: 64px;
    margin-bottom: 48px;
}
img{
    height: 177px;
    width: 177px;
    border-radius: 0px;
}
h2{
    font-size: 36px;
    margin-bottom: 28px;
}
p{
    font-size: 32px;
    margin-bottom: 50px;
}
a{
    font-size: 24px;
    padding: 9px 32px;
    text-align: center;
    border-radius: 38px;
    background-color: #FABE2C;
    text-decoration: none;
    margin-bottom: 30px;
}