<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Galindo&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/quiz.css') }}">
    <title>quiz</title>
</head>
<body>

    <div>
        <h1>Quiz Question {{ question_id + 1 }}</h1>
        <p>{{ question['question'] }}</p>
        
        <form action="{{ url_for('quiz', question_id=question_id) }}" method="post">
            {% for option in options %}
            <h4><input type="radio" name="answer" value="{{ option }}" class="radio">
                <label for="radio">{{ option }}</label></h4><br>
            {% endfor %}
            

            {% if question_id+1 == number_of_questions %}
                <input type="submit" value="Submit" class="btn">
            {% else %}
                <input type="submit" value="Next" class="btn">
            {% endif %}
        </form>

        <img src="/static/science.png" alt="">
    </div>

</body>
</html>

